@import '../../assets/sass/theme.scss';

.up {
    color: $motleyGreen;
    .arrow {
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $motleyGreen;
        margin-right: 0.5rem;
        }
}
  
.down {
    color: $motleyRed;
    .arrow {
        width: 0; 
        height: 0; 
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid $motleyRed;
        margin-right: 0.5rem;
        }
}

.none {
    color: #000;
    .arrow {
        width: 0.5rem; 
        height: 0;
        border-top: 5px solid #000;
        margin-right: 0.5rem;
        }
}

.up, .down, .none {
    display: flex;
    align-items: center;
}