@import '../../assets/sass/theme.scss';

.up {
    color: $motleyGreen;
    .arrow {
        width: 0; 
        height: 0; 
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid $motleyGreen;
        margin-right: 0.5rem;
        }
}
  
.down {
    color: $motleyRed;
    .arrow {
        width: 0; 
        height: 0; 
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid $motleyRed;
        margin-right: 0.5rem;
        }
}

.none {
    color: #000;
    .arrow {
        width: 0.5rem; 
        height: 0;
        border-top: 7px solid #000;
        margin-right: 0.5rem;
        }
}

.up, .down, .none {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 1.5rem;
}